@import '~@angular/material/theming';
@include mat-core();

 $md-mcgpalette0: (
    50 : #fef2e4,
    100 : #fddfbc,
    200 : #fbc98f,
    300 : #f9b362,
    400 : #f8a340,
    500 : #f7931e,
    600 : #f68b1a,
    700 : #f58016,
    800 : #f37612,
    900 : #f1640a,
    A100 : #ffffff,
    A200 : #ffefe7,
    A400 : #ffceb4,
    A700 : #ffbd9b,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

  $primary: mat-palette($md-mcgpalette0,500);
  $accent: mat-palette($mat-red,200);

  $theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);