table{
    width: 100%;
}

.card {
    margin: 50px;
}

.card-header .left{
    float: left;
}

.card-header .right{
    float: right;
}

.search-field {
    width: 300px;
}

.show-details {
    color: white;
}

.mat-column-id {
    width: 20%;
}

.mat-column-username,
.mat-column-name,
.mat-column-restaurantName,
.mat-column-dishName,
.mat-column-rating,
.mat-column-restaurantButtons, 
.mat-column-dishButtons, 
.mat-column-userButtons, 
.mat-column-reviewButtons {
    width: 10%;
}

.mat-column-description {
    padding: 10px;
}

.spinner {
    margin: 0 auto;
}

.buttons {
    display: flex;
    justify-content: center;
}

.hide-div {
    display: none;
}

.add-button {
    color:white;
    margin: 13px;
}