table{
    width: 100%;
}

.card {
    margin: 50px;
}

/* .mat-header-cell {
    text-align: center;
}

.mat-cell {
    text-align: center;
} */

.card-header .left{
    float: left;
}

.card-header .right{
    float: right;
}

.search-field {
    width: 300px;
}

.show-details {
    color: white;
}

.mat-column-id {
    width: 20%;
}

.mat-column-name {
    width: 10%;
}

.mat-column-showDetails {
    width: 10%;
}

.mat-column-description {
    padding: 10px;
}