<mat-toolbar color="primary">
  <!-- <button class="title" mat-icon-button routerLink="">
    <mat-icon>home</mat-icon>
  </button> -->
  <button class="icon-button" mat-button routerLink="">
    <img src="../../../assets/hamburger.svg" class="icon-image">

  </button>
  <button class="title" mat-button routerLink="">
    <h1>FoodReview</h1>
  </button>
  <span class="spacer"></span>
  <button class="routing-button" *ngIf="shouldDisplayButtons" mat-button routerLink="/restaurants" routerLinkActive="active-link">Restaurants</button>
  <button class="routing-button" *ngIf="shouldDisplayButtons" mat-button routerLink="/dishes" routerLinkActive="active-link">Dishes</button>
  <button class="routing-button" *ngIf="shouldDisplayButtons" mat-button routerLink="/users" routerLinkActive="active-link">Users</button>
  <button class="routing-button" *ngIf="shouldDisplayButtons" mat-button routerLink="/reviews" routerLinkActive="active-link">Reviews</button>
  <button class="routing-button" *ngIf="shouldDisplayButtons" mat-button routerLink="/statistics" routerLinkActive="active-link">Statistics</button>
  <button class="routing-button" *ngIf="shouldDisplayButtons" mat-button (click)="logout()">Log out</button>
</mat-toolbar>
