<mat-toolbar color="primary">
  <button mat-icon-button routerLink="">
    <mat-icon>home</mat-icon>
  </button>
  <button class="title" mat-button routerLink="">
    <h1>FoodReview</h1>
  </button>
  <span class="spacer"></span>
  <button class="routing-button" mat-button routerLink="/restaurants" routerLinkActive="active-link">Restaurants</button>
  <button class="routing-button" mat-button routerLink="/dishes" routerLinkActive="active-link">Dishes</button>
  <button class="routing-button" mat-button routerLink="/users" routerLinkActive="active-link">Users</button>

</mat-toolbar>
