<mat-card class="card">
    <div class="name-description-grid" *ngIf="!(isLoading$ | async)">
        <h3 class="name-label">Name:</h3>
        <mat-label class="name-content">{{dish.name}}</mat-label>
        <div class="name-divider divider"></div>
        <h3 class="restaurant-label">Restaurant:</h3>
        <mat-label class="restaurant-content"><a [routerLink]="'/restaurants/details/' + dish.restaurantId">{{dish.restaurantName}}</a></mat-label>
        <div class="restaurant-divider divider"></div>
        <h3 class="description-label">Description:</h3>
        <mat-label class="description-content">{{dish.description}}</mat-label>
        <div class="logo-image">
            <img [src]="dish.imageUrl">
        </div>
        <div class="tags-divider divider"></div>
        <h3 class="tags-label">Tags:</h3>
        <mat-label class="tags-content">Content name</mat-label>
        <div class="ratings-divider divider"></div>
        <mat-tab-group class="ratings-content">
            <mat-tab label="Reviews">
                <app-review-search [restaurantId]="dish.restaurantId" [dishId]="dish.id">
                </app-review-search>
            </mat-tab>
          </mat-tab-group>
    </div>
    <div class="spinner-div">
        <mat-spinner color="primary" class="spinner" *ngIf="isLoading$ | async"></mat-spinner>
    </div>
</mat-card>